@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:500,700,900&display=swap");
/* line 4, ../CV/sass/style.sass */
body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* line 10, ../CV/sass/style.sass */
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* line 16, ../CV/sass/style.sass */
::before, ::after {
  box-sizing: border-box;
}

/* line 18, ../CV/sass/style.sass */
.section {
  background-color: #f2f2fc;
  min-height: 100vh;
  display: block;
  padding: 0 30px;
}

/* line 23, ../CV/sass/style.sass */
.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

/* line 27, ../CV/sass/style.sass */
.section-title {
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  max-width: 100%;
}

/* line 31, ../CV/sass/style.sass */
.section-title h2 {
  font-size: 40px;
  color: #302e43;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  margin: 0;
  position: relative;
}

/* line 38, ../CV/sass/style.sass */
.section-title h2::before {
  content: '';
  height: 4px;
  width: 50px;
  position: absolute;
  top: 100%;
  left: 0;
}

/* line 45, ../CV/sass/style.sass */
.section-title h2::after {
  content: '';
  height: 4px;
  width: 25px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

/* line 54, ../CV/sass/style.sass */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}

/* line 63, ../CV/sass/style.sass */
.padd-15 {
  padding-right: 15px;
  padding-left: 15px;
}

/* line 66, ../CV/sass/style.sass */
.main-content {
  padding-left: 270px;
}

/* line 69, ../CV/sass/style.sass */
.container {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

/* line 73, ../CV/sass/style.sass */
.shoadow-dark {
  -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* line 76, ../CV/sass/style.sass */
.hidden {
  display: none !important;
}

/* line 79, ../CV/sass/style.sass */
.aside {
  width: 270px;
  background-color: #fdf9ff;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  border-right: 1px solid #e8dfec;
  padding: 30px;
}

/* line 89, ../CV/sass/style.sass */
.aside .logo {
  padding: 30px 0;
}

/* line 91, ../CV/sass/style.sass */
.aside .logo a {
  font-size: 40px;
  color: #302e43;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

/* line 100, ../CV/sass/style.sass */
.aside .logo a::before {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 108, ../CV/sass/style.sass */
.aside .logo a::after {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 115, ../CV/sass/style.sass */
.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid #d4d4e3;
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 30px;
  z-index: 11;
  border-radius: 5px;
  background-color: #fdf9ff;
  display: none;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 133, ../CV/sass/style.sass */
.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  display: inline-block;
  position: relative;
}

/* line 138, ../CV/sass/style.sass */
.aside .nav-toggler span::before {
  content: '';
  height: 2px;
  width: 18px;
  position: absolute;
  top: -6px;
  left: 0;
}

/* line 145, ../CV/sass/style.sass */
.aside .nav-toggler span::after {
  content: '';
  height: 2px;
  width: 18px;
  position: absolute;
  top: 6px;
  left: 0;
}

/* line 153, ../CV/sass/style.sass */
.aside .nav {
  list-style: none;
  margin: 80px 0;
  padding: 0;
}

/* line 157, ../CV/sass/style.sass */
.aside .nav li {
  display: block;
}

/* line 159, ../CV/sass/style.sass */
.aside .nav li a {
  font-size: 26px;
  font-weight: 600;
  color: #302e4d;
  text-decoration: none;
  line-height: 70px;
  display: block;
  border-bottom: 1px solid #e8dfec;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: capitalize;
}

/* line 170, ../CV/sass/style.sass */
.aside .nav li a .fa {
  margin-right: 10px;
}

/* line 172, ../CV/sass/style.sass */
.aside .nav li:not(.active):hover {
  padding-left: 5px;
}

/* line 175, ../CV/sass/style.sass */
.aside .copyright-text {
  background-color: #ededed;
  font-size: 13px;
  color: #7d7d7d;
}

/* line 182, ../CV/sass/style.sass */
.home {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
}

/* line 186, ../CV/sass/style.sass */
.home .intro {
  text-align: center;
}

/* line 188, ../CV/sass/style.sass */
.home .intro img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  border: 8px solid #ffffff;
}

/* line 194, ../CV/sass/style.sass */
.home .intro h1 {
  font-size: 30px;
  color: #302e43;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  margin: 20px 0 5px;
}

/* line 200, ../CV/sass/style.sass */
.home .intro p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 22px;
  color: #504e70;
}

/* line 206, ../CV/sass/style.sass */
.home .intro .social-links {
  margin-top: 25px;
}

/* line 208, ../CV/sass/style.sass */
.home .intro .social-links a {
  height: 35px;
  width: 35px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  margin: 0 4px;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 220, ../CV/sass/style.sass */
.home .intro .social-links a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */